In [68]:
print(5)
print(type(5))

5
<class 'int'>

In [9]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [14]:
print("Hactiv8")
print(type("Hactiv8"))

print("This string contains (').")
print('This string contains (").')

Hactiv8
<class 'str'>
This string contains (').
This string contains (").

In [4]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [15]:
n = 300
print(n)
n = 1000
print(n)

a=b=c= 300
print(a,b,c)

300
1000
300 300 300

In [7]:
var = 23.5
print(var)

var = "Now I'm a String"
print(var)

23.5
Now I'm a String

In [8]:
name = "Hactiv8"
age = 54
has_laptop = True
print(name, age, has_laptop)

Hactiv8 54 True

In [1]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e =5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, age_, _AGE_)

1 2 3 4 5 7 8

In [18]:
a = 2
b = 3
c = 1

if a>c:
    print(a)
if a<b:
    print('betul')

2
betul

In [16]:
if a>b and a>c:
    print('tampil')
else:
    print('enggak')

enggak

In [19]:
if a>b or a>c:
    print('tampil')
else:
    print('enggak')

tampil

In [36]:
sistem = ["saya","pergi","ke","LPPI","kemang"]
engineer = ["tidak","jalan","karena","banjir"]

print(sistem[0])
print(engineer[0])
print(sistem[1])
print(engineer[2],engineer[3])

saya
tidak
pergi
karena banjir

In [35]:
engineer[0]="tetap"
print(sistem[0])
print(engineer[0])
print(sistem[1])
print(engineer[2],engineer[3])

saya
tetap
pergi
karena banjir

In [47]:
a = 6
b = 7
c = 8

if c>a:
    if b>c:
        print('True')
    else:
        print('False')

False

In [3]:
nama = ['nama1','nama2','nama3','nama4','nama5']
nilaiA = [80,55,80,75,90]
nilaiB = [70,70,90,60,70]

for i in range(len(nama)):
    if (nilaiA[i]<=60) or nilaiB[i]<=60:
        print(f"{nama[i]}, nilaiA= {nilaiA[i]}, nilaiA= {nilaiB[i]}, total= {nilaiA[i]+nilaiB[i]}, status: tidak lulus")
    else:
        print(f"{nama[i]}, nilaiA= {nilaiA[i]}, nilaiA= {nilaiB[i]}, total= {nilaiA[i]+nilaiB[i]}, status: lulus")

nama1, nilaiA= 80, nilaiA= 70, total= 150, status: lulus
nama2, nilaiA= 55, nilaiA= 70, total= 125, status: tidak lulus
nama3, nilaiA= 80, nilaiA= 90, total= 170, status: lulus
nama4, nilaiA= 75, nilaiA= 60, total= 135, status: tidak lulus
nama5, nilaiA= 90, nilaiA= 70, total= 160, status: lulus

In [4]:
username = input('Enter Username: ')

print('Username is:', username)

Enter Username: asep
Username is: asep

In [5]:
nama = input('nama: ')
hobi = input('hobi: ')
email = input('email: ')
tlp = input('telp: ')
uas = input('nilai UAS: ')
status = input('status')

print(f"\n\nnama: {nama} \nhobi: {hobi} \nemail: {email} \ntelp: {tlp} \nUAS: {uas} \nstatus: {status}")

nama: asep
hobi: berenang
email: asep@gmail.com
telp: 09892748274
nilai UAS: 90
statuslulus


nama: asep
hobi: berenang
email: asep@gmail.com
telp: 09892748274
UAS: 90
status: lulus

In [6]:
nama = input('nama: ')
uts = int(input('nilai UTS: '))
uas = int(input('nilai UAS: '))

print(f"\n\nnama\t: {nama} \nuts\t: {uts} \nuas\t: {uas} \ntotal\t: {uts+uas}")

if uts <= 60 or uas <= 60 or (uts+uas)<=125:
    print('Maaf anda Gagal')
else :
    print('Selamat anda Lulus')

nama: asep
nilai UTS: 90
nilai UAS: 55


nama	: asep
uts	: 90
uas	: 55
total	: 145
Maaf anda Gagal

In [72]:
kata = input('masukkan kata: ')
#kata = 'BaT'
#huruf = [str(huruf) for huruf in kata]

print('kata\t= ', kata)
#print('huruf= ', huruf)


for i in range(len(kata)):
    print('\nhuruf\t= ', kata[i])
    desimal1 = ord(kata[i])
    print('desimal\t= ', desimal1)
    
    biner = ''
    oktal = ''
    hexa = ''

    #biner
    desimal=desimal1
    while desimal > 0:
        sisa = desimal % 2
        biner = str(sisa) + biner
        desimal //= 2
    print('biner\t= ', biner)

    #oktal
    desimal=desimal1
    while desimal > 0:
        sisa = desimal % 8
        oktal = str(sisa) + oktal
        desimal //= 8
    print('oktal\t= ', oktal)

    #hexa
    desimal=desimal1
    hex_chars = "0123456789ABCDEF"
    while desimal > 0:
         sisa = desimal % 16
         hexa = hex_chars[sisa] + hexa
         desimal //= 16
    print('hexa\t= ', hexa)

masukkan kata: BaT
kata	=  BaT

huruf	=  B
desimal	=  66
biner	=  1000010
oktal	=  102
hexa	=  42

huruf	=  a
desimal	=  97
biner	=  1100001
oktal	=  141
hexa	=  61

huruf	=  T
desimal	=  84
biner	=  1010100
oktal	=  124
hexa	=  54

In [3]:
s = 12

while s<=19:
    if s<=15:
        print(s)
    elif s>18:
        print('selesai',s)
    s=s+1

12
13
14
15
selesai 19